@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



.josefin-sans-light {
   font-family: "Josefin Sans", serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
 }
.josefin-sans-regular {
   font-family: "Josefin Sans", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }
.josefin-sans-bold {
   font-family: "Josefin Sans", serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
 }
 
.merriweather-light {
   font-family: "Merriweather", serif;
   font-weight: 300;
   font-style: normal;
 }
 
 .merriweather-regular {
   font-family: "Merriweather", serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .merriweather-bold {
   font-family: "Merriweather", serif;
   font-weight: 700;
   font-style: normal;
 }
 
 .merriweather-bold {
   font-family: "Merriweather", serif;
   font-weight: 700;
   font-style: normal;
 }
 
 .merriweather-black {
   font-family: "Merriweather", serif;
   font-weight: 900;
   font-style: normal;
 }
 
 